<!--The content below is only a placeholder and can be replaced.-->
<div class="title">
  <div class="title-spacer">Simple list</div>
  <button>
    <mat-icon matListIcon>code</mat-icon>
  </button>
</div>
<mat-selection-list role="Simple list">
  <p>A simple <code>List</code> with left and right <a href="https://material.io/tools/icons/?style=baseline">SVG icons</a></p>

  <div class="border-list">
    <mat-list-option>
      <mat-icon matListIcon>inbox</mat-icon>
      <p>Inbox</p>
    </mat-list-option>
  
    <mat-list-option>
      <mat-icon matListIcon>star</mat-icon>
      <p>Starred</p>
    </mat-list-option>
  
    <mat-list-option>
      <mat-icon matListIcon>send</mat-icon>
      <p>Sent mail</p>
    </mat-list-option>
  
    <mat-list-option>
      <mat-icon matListIcon>drafts</mat-icon>
      <p>Drafts</p>
    </mat-list-option>
  
    <mat-list-option>
      <mat-icon matListIcon>inbox</mat-icon>
      <p>Inbox</p>
    </mat-list-option>
  </div>
</mat-selection-list>